<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form >

        <div class="form">
                    <div class="title-div">
                        <h1>CONCORD</h1>
                        <p>This is a google form .Employee Personal Details</p>
                        <p class="required">*Required</p>
                    </div>

                    <div class="name-div">
                        <div class="name">FIRST NAME<span
class="required">*</span></div>
                        <div class="input-div"><input type="FirstName"
type="input" name="answer" placeholder="Your answer"
(keyup)="onkeyup($event)"  ></div>
                    </div>
                    <div class="name-div">
                        <div class="name">LASTNAME NAME<span
class="required">*</span></div>
                        <div class="input-div"><input type="LASTNAME"
type="input" name="answer" placeholder="Your answer"
(keyup)="onkeyup($event)"  ></div>

                    </div>
                    <div class="name-div">
                        <div class="name">DOMAIN<span
class="required">*</span></div>
                        <div class="input-div"><input type="class"
type="input" name="answer" placeholder="Your answer"
(keyup)="onkeyup($event)"  ></div>

                    </div>
                    <div class="name-div">
                        <div class="name">EXPERIENCE *<span
class="required">*</span></div>
                        <div class="input-div"><input type="class"
type="input" name="answer" placeholder="Your answer"
(keyup)="onkeyup($event)"  ></div>
                    </div>
                    <div class="name-div">
                        <div class="name">CTC*<span
class="required">*</span></div>
                        <div class="input-div"><input type="class"
type="input" name="answer" placeholder="Your answer"
(keyup)="onkeyup($event)"  ></div>
                    </div>
                    <div class="name-div">
                        <div class="name">ADDRESS *<span
class="required">*</span></div>
                        <div class="input-div"><input type="class"
type="input" name="answer" placeholder="Your answer"
(keyup)="onkeyup($event)"  ></div>


                    </div>
                <span>
                    <input  (click)="onBtnClick()" class="btn"
type="submit" name="submit"  >
                </span>

                    <span>
                    <input class="btn" type="reset" name="reset">
                    </span>
                </div>
                </form>
                </body>

</html>